<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>落下シミュレータ</title>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/js/moment.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">

  <meta property="og:url" content="https://physical-simulation.firebaseapp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="落下シミュレータ" />
  <meta property="og:description" content="落下をシミュレーションするアプリです。" />
  <meta property="og:site_name" content="落下シミュレータ" />
  <meta property="og:image" content="https://physical-simulation.firebaseapp.com/assets/images/ogp.png" />

</head>

<body>
  <div id="app">
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">落下シミュレータ</a>
      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" v-bind:class="{ active: params }">
            <a class="nav-link" v-on:click="paramsMenu()">パラメータ設定＆結果
            </a>
          </li>
          <li class="nav-item" v-bind:class="{ active: anime }">
            <a class="nav-link" v-on:click="animeMenu()">シミュレータ</span></a>
          </li>
        </ul>
      </div>
      <form class="form-inline" v-if="anime">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          <input id="fall" type="button" class="btn btn-danger my-2 my-sm-0" v-on:click="clear()" value="アニメーションクリア">
        </form>
    </nav>

    <!-- Animation -->
    <div class="anime" v-bind:style="{ display: animeDisplay }">
      <canvas id="canvas" class="canvas"
      width="600"
      height="400"
      v-bind:style="{ width: canvasWidth, height: canvasHeight }" 
      ></canvas>
    </div>

    <!-- Params & Results -->
    <div class="container" v-bind:style="{ display: paramsDisplay }">
      <div class="row">
        <div class="col-sm-12">
          <div id="parameter" class="param-panel">
            <p>パラメータ設定 横:{{ fieldX }}m 縦:{{ fieldY }}m
            </p>
            <div class="row">
              <div class="col-sm-4">
                <label>被験者名</label>
                <input id="name" v-model="name" class="form-control form" type="text" placeholder="例: 田中太郎">
              </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>x軸(m)</label>
                    <input readonly id="x" v-model="x" class="form-control form" type="number" min=0>
                  </div>
                  <div class="col">
                    <label>y軸(m)</label>
                    <input readonly id="y" v-model="y" class="form-control form" type="number" min=0>
                  </div>
              <div class="col">
                <label>重力加速度(m/s<sup>2</sup>)</label>
                <input readonly id="g" v-model="g" class="form-control form" type="number" min=0>
              </div>
              <!-- <div class="col">
                <label>垂直方向速度</label>
                <input readonly id="vy" v-model="vy" class="form-control form" type="number" min=1 step="0.01">
              </div> -->
            </div>

            <div class="row">
                <div class="col">
                  <label>物体質量(kg)</label>
                  <input id="m" v-model="m" class="form-control form" type="number" min=1>
                </div>

                <div class="col">
                  <label>水平方向速度(m/s)</label>
                  <input id="vx" v-model="vx" class="form-control form" type="number" min=1 step="0.01">
                </div>

                <div class="col">
                  <label>空気抵抗係数(kg/m)</label>
                  <input id="k" v-model="k" class="form-control form" type="number" min=1 step="0.01">
                </div>

                <!-- <div class="col">
                    <label>進む割合</label>
                    <input id="t" v-model="t" class="form-control form" type="number" min=0.01 step="0.01">
                  </div> -->
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label>ターゲットの位置（横）(m)</label>
                  <input id="targetPosition" v-model="targetPosition" class="form-control form" type="number" min=1 max="canvas.width">
                </div>
                <!-- <div class="col-sm-4">
                  <label>スクリーン横軸の大きさ(m)</label>
                  <input id="fieldX" v-model="fieldX" class="form-control form" type="number" min=1 max="canvas.width">
                </div>
                <div class="col-sm-4">
                  <label>スクリーン縦軸の大きさ(m)</label>
                  <input id="fieldY" v-model="fieldY" class="form-control form" type="number" min=1 max="canvas.width">
                </div> -->
              </div>

            <div class="button-panel">
              <!-- <input id="start" type="button" class="btn btn-primary"
                v-on:click="start()" value="開始">
              <input id="fall" type="button" class="btn btn-info"
                value="ボールを落とす">-->
              <!-- <input id="fall" type="button" class="btn btn-danger" v-on:click="clear()" value="アニメーションクリア"> -->

              <div class="row">
                  <div class="col-2">
                      <div class="toggle-form">
                          <div class="toggle">
                            <p>軌跡表示</p>
                            <label class="switch">
                              <input id="mode" v-model="mode" type="checkbox">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
                    </div>
                  <div class="col-2">
                    <div class="toggle-form">
                        <div class="toggle">
                          <p>点表示</p>
                          <label class="switch">
                            <input id="isLine" v-model="isLine" type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                  </div>
                  <div class="col-2">
                    <div class="toggle-form">
                        <div class="toggle">
                          <p>ボール表示</p>
                          <label class="switch">
                            <input id="isBall" v-model="isBall" type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="result">
          <!-- <p>結果</p> -->
          <div class="result-form d-flex justify-content-end">
            <a v-if="histories.length > 0" class="btn btn-primary download" id="download" href="#" download="{{ name }}_result.csv"
              v-on:click="exportCsv()" disabled="true">CSVダウンロード</a>
            <a v-else class="btn btn-secondary download disabled" style="color:#fff;" id="download">CSVダウンロード</a>

            <input v-if="histories.length > 0" id="fall" type="button" class="btn btn-danger" v-on:click="clearHistories()"
              value="結果をクリア">
            <input v-else id="fall" type="button" class="btn btn-secondary disabled" value="結果をクリア">
          </div>
          <table class="table table-hover table-striped header-fixed">
            <thead>
              <tr class="table-info">
                <th scope="col">#</th>
                <th scope="col">ボールが動き出した時間</th>
                <th scope="col">ボールを離した時間</th>
                <th scope="col">ボールが動き出した時間(Unix)</th>
                <th scope="col">ボールを離した時間(Unix)</th>
                <th scope="col">ターゲットからの距離(m)</th>
                <th scope="col">ボールを離した時の箱のターゲットからの距離(m)</th>
                
              </tr>
            </thead>
            <tbody>
              <tr v-for="(index, h) in histories">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ h[0] }}</td>
                <td>{{ h[1] }}</td>
                <td>{{ h[2] }}</td>
                <td>{{ h[3] }}</td>
                <td>{{ h[4] }}</td>
                <td>{{ h[5] }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


  <script src="assets/js/script.js"></script>

</body>

</html>